<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Hi, I'm vikas kumar awasthi</h1>
        <p>Graduate student</p>
        <nav>
            <a href="/">Home</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>

    <section>
        <h2>About Me</h2>
        <p>I have recently completed my BCA degree with 8.91 CGPA and now lookinig for job.</p>
    </section>
</body>
</html>
